@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Macondo&family=Mukta:wght@200&display=swap');
/* .image{
    background-image: url("./image/Rishad.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    width: 10vw;
} */
.list-unstyling{
    list-style: none;
}
.name{
    padding-top: 80px;
    font-family: 'Macondo', cursive;
}
p,ul,small{
    font-family: 'EB Garamond', serif;
}
.profession{
    font-family: 'Macondo', cursive;
}
h6{
    font-family: 'Mukta', sans-serif;
}
.upper{
    opacity: 2;
    margin-bottom: 5px;
}
.lower{
    opacity: 2;
    margin-top: 5px;
}
.project-hr{
    opacity: 1;
    margin-top: 5px;
    margin-bottom: 2px;
    color: rgb(24, 23, 37);
}